.album-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    max-width: 1100px;
    margin: auto;
    
    @media screen and (max-width: $first-bp) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px
    }
    
    @media screen and (max-width: $second-bp) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px
    }
}

.album {
    height: 250px;
    width: 200px;
    text-decoration: none;
    // border: 1px solid $white50;
    margin-bottom: 30px;
    
    @media screen and (max-width: $third-bp) {
        height: 200px;
        width: 150px;
    }
    
  
    
    img {
        @include transition3s;
        cursor: pointer;
        height: 200px;
        width: 200px;
        box-shadow: 0px 0px 0px -2px $white50; 
        
        &:hover {
            box-shadow: 0px 0px 0px 5px $white50;
          
        }
        
        @media screen and (max-width: $third-bp) {
        height: 150px;
        width: 150px;
    }
        
        
    }
    
    p {
        color: $white50;
        font-size: 18px;
        text-align: center;
        
        @media screen and (max-width: $third-bp) {
            font-size: 15px;
        }
    }
}