.button {
    padding: .7rem;
    text-align: center;
    border-radius: 3px;
    border: 1px solid $white50;

    &:hover {
        color: $white100;
        border-color: $white100;
    }
} 

.button-block {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    padding: .7rem;
    cursor: pointer;
    
    &:hover {

    }
}

.btn-dark {
    background: $black70;
    border: 1px solid $white50;
    color: $white50;

    &:hover {
        color: $white100;
        border-color: $white100;
    }
}

.btn-light {

}