.button {
    padding: .5rem;
    text-align: center;
    border-radius: 3px;
    border: 1px solid $white50;

    &:hover {
        color: $white100;
        border-color: $white100;
    }
    
    &:focus {
        outline: none;
    }
} 

.button-icon {
    padding: .2rem .5rem .2rem .5rem;
    text-align: center;
    border-radius: 3px;
    border: 2px solid $white50;
    cursor: pointer;
    &:hover {
        color: $white100;
        border-color: $white100;
    }
    
    &:focus {
        outline: none;
    }
}

.button-block {
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    padding: .7rem;
    cursor: pointer;
    
    &:hover {

    }
    
    &:focus {
        outline: none;
    }
}

.btn-dark {
    background: transparent;
    color: $white50;

    &:hover {
        color: $white100;
        border-color: $white100;
    }
}


.drawer-button {
    
}