.favorite {
    border-radius: 5px;
    max-width: 200px;
    padding: 5px;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background: $black100;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    i {
        font-size: 24px;
        
    }
    
    p {   
        text-align: center;
        width: 100%;
        
    }
}

.added {
    @include transition2s;
    color: $primary50;
   
    &:hover {
        color: $primary100;
    }
}

.not-added {
    @include transition2s;
    color: $white50;
    
    &:hover {
        color: $white100;
    }
}

.favorite-track {
    background: $black100;
    border-radius: 5px;
    max-width: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    
    i {
        font-size: 20px;
        
    }
    
    p {   
        text-align: center;
        width: 100%;
        
    }
}