.input {
    @include transition3s
    width: 100%;
    border: 2px solid $white50;
    background: transparent;
    height: 35px;
    display: block;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    padding: 10px;
    color: $white50;
    
    &:hover {
        border-color: $white100;
        color: $white100;
    }
    
    &:focus {
        border-color: $primary100;
        color: $white100;
    }
}

.btn {
    @include transition3s
    @include fontStyle
    background: transparent;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    border: 2px solid $white50 ;
    height: 40px;
    cursor: pointer;
    margin: 10px;
    outline: none;
    
    &:hover {
        color: $primary100;
        border-color: $primary100;
    }
}

.btn-block {
    @include transition3s
    @include fontStyle
    background: transparent;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    border: 2px solid $white50 ;
    height: 40px;
    cursor: pointer;
    outline: none;
    width: 100%;
    display: block;
    margin-top: 10px;
    
    
    &:hover {
        color: $primary100;
        border-color: $primary100;
    }
}
