.nav {

    box-sizing: border-box;
    border-bottom: 1px solid $white50;
    height: 45px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: $black100;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr; 
    grid-template-rows: 100%;
    align-items: center;
    z-index: 2;
    
    @include respond(tablet) {
        grid-template-columns: 1fr;
    }
    
    &:hover {
        border-color: $white100;

    }

    &__heading__container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__heading {
        display: inline-block;
        margin: auto;
        cursor: pointer;
        text-decoration: none;
        font-family: 'Comfortaa', sans-serif;
        letter-spacing: 3px;
        text-align: center;

        &:hover {
            color: $white100;
        }
    }
    
    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include respond(tablet) {
            display: none;
        }
    }
    
    &__link {
        display: block;
        height: 100%;
        padding: 15px 20px 15px 20px;
        color: $white50;
        cursor: pointer;
        text-decoration: none;
        
        &:hover {
            color: $white100;
        }
    }
    
    &__search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        @include respond(tablet) {
            display: none;
        }
    }
    
    &__btn-mobile {
        display: none;
        position: fixed;
        top: 7px;
        right: 20px;
        background: transparent;
        font-size: 22px;
        padding: 0px;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        border: none;
        
        &:focus {
            outline: none;
        }
        
        @include respond(tablet) {
            display: block;
        }
        

    }
    
    &__drawer {
        transition: all .4s;
        background: $dark100;
        height: 100%;
        width: 50%;
        position: fixed;
        overflow-y: auto;
        top: 45px;
        
        &:hover {
            border-color: $primary100;
        }
    }
    
    &__drawer-links {
        margin-top: 50px;
    }

    &__drawer-link {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        font-size: 18px;
        border: 1px solid $white50;
        max-width: 250px;
        margin: auto;
        margin-bottom: 10px;
        cursor: pointer;
        text-decoration: none;
        background: $dark50;
        
        &:hover {
            color: $white100;
            border-color: $white100;
        }
    }
    
    &__drawer-search {
        max-width: 250px;
        margin: auto;
        margin-top: 30px;
    }
}

.shown {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.btn-active {
    color: $primary50;
    
    &:hover {
        color: $primary100;
    }
}

.btn-inactive {
    color: $white50;

    &:hover {
        color: $white100;
    }
}

.active {
    color: $primary50;
    
    &:hover {
        color: $primary100;
    }
}