.tag {
    padding: 1rem;
    border-radius: 10px;
    color: black;
    background: $white50;
    margin: .5rem;
    text-align: center;
    transition: all .4s;
    flex-grow: 1;
    
    &:hover {
        background: $primary50;
        color: white;
        flex-grow: 2;
    }
}

