.track-table {
    max-width: 1100px;
    margin: auto;
    font-size: 19px;
    color: $white50;
    border-collapse: collapse;
    display: block;

    tr {
      
        border: 1px solid $white50;
        margin: auto;
        
        
        &:hover {
            border: 1px solid $primary100;
        }
    }
    
    td {
     
        text-align: center;
        padding: 15px;
        
    }
    
}