.tracklist {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
    tr {
        // border-bottom: .1px solid white;
        padding: 1rem;
        
        &:hover {
            color: $white100;
            border-color: $white100;
        }
    }
    
    td {
        padding: 1rem 1rem 1rem 1rem;
    }

}

