.album-info {
    max-width: 60%;
    min-width: 50%;
    margin: auto;
    
     @media screen and (max-width: $first-bp) {
        min-width: 100%;
        max-width: 100%;
    }
    
    @media screen and (max-width: $second-bp) {
        min-width: 100%;
        max-width: 100%;
    }
    
    &__image {
        display: block;
        margin: auto;
    }
    
    &__link {
        
        @include fontStyle;
        max-width: 200px;
        margin: auto;
        padding: 20px;
        display: block;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        
        &:hover {
            text-decoration: underline;
        }
    }
}