$white30: rgba(255, 255, 255, 0.3);
$white50: rgba(255, 255, 255, 0.7);
$white100: rgba(255, 255, 255, 1);

$primary30: rgba(2, 252, 181, 0.3);
$primary50: rgba(2, 252, 181, 0.5);
$primary100: rgba(2, 252, 181, 1);

$dark50: rgba(33, 46, 56, .5);
$dark70: rgba(33, 46, 56, .7);
$dark90: rgba(33, 46, 56, .9);
$dark100: rgba(33, 46, 56, 1);

$black30: rgba(0, 0, 0, 0.3);
$black50: rgba(0, 0, 0, 0.5);
$black70: rgba(0, 0, 0, 0.7);
$black90: rgba(0, 0, 0, 0.9);
$black100: rgba(0, 0, 0, 1);

 